<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:p="http://www.springframework.org/schema/p" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!-- polymorphism3 패키지로시작하는 모든 클래스 중에서 @Component가 설정된 클래스의 객체를 생성한다. -->
	<context:component-scan base-package="polymorphism3"/>
	
	<!-- 유지보수 과정에서 변경되는 객체는 반드시 bean 등록한다. -->
	<bean class="polymorphism3.AppleSpeaker"/>
<!-- 유일하게 스키마 로케이션 없음. : p -->
	<!-- 컨테이너가 생성할 객체(bean)를 등록한다. -->
	<!--  
	<bean id="tv" 
		  class="polymorphism3.SamsungTV"
		  init-method="멤버변수초기화"
		  destroy-method="자원해제"/>
	
	  
	<bean id="speaker" 
		  class="polymorphism3.AppleSpeaker"/>
		  
	<bean id="tv" 
		  class="polymorphism3.GoogleTV" p:speaker-ref="speaker" p:price="1400000">
		  
	</bean>
	-->
</beans>